<h1>Welcome to CSE Motors!</h1>
    <section class="delorean">
        <div class="delorean_box">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
            <button type="button" class="own_today_btn" aria-label="Purchase a DMC Delorean today">
                <img src="/images/site/own_today.png" alt="Own Today button">
            </button>
        </div>
            <img src="/images/vehicles/delorean.jpg" alt="Delorean img">
    </section>
        
    <div class="info_section">
        <section class="upgrade_section">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade_items">
                <div class="flux">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                    <a href=" ">Flux Capacitor</a>
            </div>
            <div class="upgrade_items">
                <div class="flame">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <a href=" ">Flame Decals</a>
            </div>
            <div class="upgrade_items">
                <div class="bumper">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <a href=" ">Bumper Sticker</a>
            </div>
            <div class="upgrade_items">
                <div class="hub">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <a href=" ">Hub Caps</a>
            </div>
        </section>

        <section class="reviews_section">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride ofour day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </div>    